<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to PupNup</h1>
    <p class="lead">Owning a pet is one of the most exciting parts of a relationship.<br>Answer these 5 questions so you can focus on loving those little puppy dog eyes.</p>
    <!-- <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
  <!-- Standard button -->
<button type="button" class="btn btn-default start">Get Started Now</button>
</header>

<div class="container">

<!-- Who is involved in the relationship -->

  <div class="row" id="who">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header who">In the relationship between?</h1>
      <ul class="col-md-12 col-lg-12 col-sm-12" ng-repeat="thing in awesomeThings">
        <li><p href="#" tooltip="{{thing.info}}">{{thing}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></p></li>
      </ul>
      <form class="thing-form">
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a name here" ng-model="newThing">
          <span class="input-group-btn" ng-click="addThing()">
            <button type="submit" class="btn btn-primary" ng-click="addThing()"></button>
          </span>
          <p class="twoPeople">We currently allow only 2 owners</p>
          <hr>
        </p>
        <p>(Please press 'enter' after typing each name)</p>
      </form>
      <button type="button"  ng-click="addThing()" class=" whor btn btn-default btn-lg next ">Next</button>
    </div>
  </div>

  <!-- The Dog Section Begins Here -->

  <div class="row dog" id="dog">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header dog">We have named our puppy...</h1>
      <ul class="col-md-12 col-lg-12 col-sm-12" ng-repeat="dog in awesomeDog">
        <li><a href="#" tooltip="{{dog.info}}">{{dog}}<button type="button" class="close" ng-click="deleteDog(dog)">&times;</button></a></li>
      </ul>
    
  

      <form class="thing-form">
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a name here" ng-model="newDog">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addDog()"></button>
          </span>
          
          <hr>
        </p>
        <p>(Please press 'enter' after typing each name)</p>
      </form>
      <button type="button" ng-click="addDog()" class=" dogr btn btn-default btn-lg next ">Next</button>
    </div>
  </div>
  

  <!-- The percentage of ownership responsibility -->

  <div class="row" id="owner">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="page-header owner" tooltip="{{dog.info}}">We will split responsibilites...
      <span ng-repeat="dog in awesomeDog"> 
        <span tooltip="{{dog.info}}">{{dog.name}}</span>
        
      </span>
      </h1>
      <ul class=" col-md-12 col-lg-12 col-sm-6">
        <li class="percentage"><span href="#" tooltip="{{thing.info}}">{{awesomeThings[0]}}<input type="number" class="percent percent1 form-control" placeholder="%"  ng-change="percent1()" ng-model="newPercentage1">%
      </span></li>
      <li class="percentage"><span href="#" tooltip="{{thing.info}}">{{awesomeThings[1]}}<input type="number" class="percent percent2 form-control" placeholder="%"  ng-change="percent2()" ng-model="newPercentage2">% 
      </span></li>
      </ul>
      <!-- <h4>Edit your team members</h4> -->
    
    <button type="button" ng-click="percentCheck()"class="ownerr btn btn-default btn-lg next ">Next</button>
    </div>
  </div>

  <!-- How will you make decisions -->

  <div class="row" id="how">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="how" tooltip="">...and make decisions by...</h1>
      <hr class="title">
      <h4 class="majority decision" ng-click="majority()">by majority of family</h4>
      <h4 class="vote decision" ng-click="vote()">by majority of voting percentage</h4>
      <h4 class="ultimate decision" ng-click="ultimate()"><span>
      <div class="dropdown whoDrop">
        <button class="btn drop btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">__________________</button>
        <ul aria-labelledby="dropdownMenu1"role="menu" class="dropdown-menu col-md-12 col-lg-12 col-sm-12" >
          <li ng-repeat="thing in awesomeThings" ng-click="decision()">{{thing}}</li>
        </ul>
      </div>
        
      <span class="theboss">, is the boss and will ultimately make the decisions.</span></h4>
      <h4 class="uni decision" ng-click="uni()">Unanimously</h4>
      <!-- <h4>Other</h4> -->
    
    <button type="button" class="howr btn btn-default btn-lg next ">Next</button>
    </div>
  </div>

  <!-- What happens in event of a breakup -->

  <div class="row" id="breakup">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="breakup" tooltip="">We hope this never happens.</h1>
      <p>(But in the event of a breakup...)</p>
      <hr class="title">
      <h4 class="one  decision" ng-click="one()">
        <div class="dropdown whoDrop">
        <button class="btn adjustBreakUpButton btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">__________________</button>
        <ul aria-labelledby="dropdownMenu1"role="menu" class="dropdown-menu col-md-12 col-lg-12 col-sm-12" >
          <li ng-repeat="thing in awesomeThings" ng-click="breakup()">{{thing}}</li>
        </ul>
      </div><span class="getsEverything"> gets everything</span></h4>
      <h4 class="two  decision" ng-click="two()"> each of us will get the chance to offer to take care of our pet.</h4>
      <h4 class="three  decision" ng-click="three()">we will share our pet based on the percentage of ownership.</h4>
    
    <button type="button" class="btn btn-default btn-lg next breakupr">Next</button>
    </div>
  </div>

  <!-- Final Page -->

  


</div>
<div class="row" id="final">
    <div class="col-md-6 col-md-offset-1">
      <h1 class="final" tooltip="">That was easy, click below to view your customized PupNup</h1>
      
      <p>(Although Pup Nup is 100% free. We ask you to share!)</p>
      <div class="row">
      <div class="col-md-2 col-md-offset-4 fb-share-button" data-href="http://www.puppynup.com" data-layout="button_count"></div>
      <a href="https://twitter.com/share" class="col-md-3 twitter-share-button" data-text="Create a puppynup by answering 5 simple questions" data-url="http://www.puppynup.com" data-via="PGEgan" data-hashtags="puppynup">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br><br>
      
    
    <button type="button" ng-click="pdf()" class="btn btn-default btn-lg start">Get Your Pup Nup</button>
    </div>
  </div>
</div>
  

<footer class="footer">
  <div class="container">
      <p>PupNup 2015 &nbsp;
      <a href="mailto:eganpg@gmail.com">Contact Us</a></p>
  </div>
</footer>


<script type="text/javascript">

 

  $('.start').click(function(){
    $('#who').goTo();
  });
  
  $('.dogr').click(function(){
    console.log('success');
    
  });
  $('.ownerr').click(function(){
    console.log('success');
    
  });
  $('.howr').click(function(){
    console.log('success');
    $('#breakup').goTo();
  });
  $('.breakupr').click(function(){
    console.log('success');
    $('#final').goTo();
  });
  
  (function($) {
      $.fn.goTo = function() {
          $('html, body').animate({
              scrollTop: $(this).offset().top + 'px'
          }, 'slow');
          return this; // for chaining...
      }
  })(jQuery);
   (function($) {
      $.fn.goUp = function() {
          $('html, body').animate({
              scrollTop: $(this).offset().bottom + 'px'
          }, 'slow');
          return this; // for chaining...
      }
  })(jQuery);

  
    </script>
